---
layout: default
title: TJUNLP实验室，长期专注于自然语言处理领域
---


<!-- TAG部分 -->
<!-- {% comment%}
	Here we generate all the tags.
{% endcomment%}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %} -->
<!-- draw tags -->
<!-- {% for tag in tags %}
	<a class="label label-success" href="#{{ tag | slugify }}" > {{ tag }} </a> &nbsp;
{% endfor %}
<br /><br /> -->


<!-- introduction part -->

<font face="verdana" size="6" color= #309657><strong>实验室简介</strong></font>
<hr style="margin-top:-4px;height:1px;border:none;border-top:1px dotted #309657;" />

<p style="text-align:justify; text-justify:inter-ideograph">
	<!-- image -->
	<!-- 靠右对齐的无边框研究框架图 -->
	<!-- <div class="col-md-3" border=0 style="float:right;">		 -->
		<!-- <div class="thumbnail"> 如果不注释掉thumbnail，就相当于缩略图容器装着图片，看起来就是有边框的效果--> 
		<!-- 为了字母和图像在col中居中 -->
		<!-- <center>
			<img
				src="/assets/images/研究框架图.png"
				width=110%
				alt="NLP"/>
			<div class="caption">
				<center>实验室研究框架</center>
			</div>
		</center> -->
		<!-- </div> -->
	<!-- </div> -->
	<!-- image -->
	<img class="center-block img-responsive"
		src="/assets/images/NLP.jpg"
		width=70%
		alt="NLP"/>
	<div class="caption">
		<center>TJUNLP研究课题画像</center>	
	</div>
</p>


<p style="text-align:justify; text-justify:inter-ideograph">
	<p style="text-align:justify; text-justify:inter-ideograph">
		人工智能技术正在社会各行各业中发挥越来越重要的作用，自然语言处理，作为人工智能的一个重要分支，被誉为“人工智能皇冠上的明珠”，具有重要的科学研究和实际应用价值。
	</p>
	<p style="text-align:justify; text-justify:inter-ideograph">
		天津大学自然语言处理实验室（TJUNLP）成立之初就扎根于自然语言处理技术的研究，主要研究方向包括：
		<ul>
			<li><a href="/posts/machine-translation/">机器翻译（machine translation）</a></li>
			<li><a href="/posts/question-answering/">问答系统（question answering）</a></li>
			<li><a href="/posts/dialogue/">对话（dialogue）</a></li>
			<li><a href="/posts/question-generation/">自然语言生成（natural language generation）</a></li>
		</ul>
		除此之外，TJUNLP还在常识推理和挖掘以及篇章计算方面开展前瞻性研究。
		TJUNLP具有良好的科研氛围、充足的科研经费，目前已与世界上多个知名大学自然语言实验室开展深入合作，
		包括英国爱丁堡大学、葡萄牙里斯本大学、西班牙巴斯克大学等，与国内外多家企业开展了联合研究与技术攻关，
		如华为、联想、OPPO、今日头条等。实验室常年接受海内外学生实习和访问交流，
		同时选送优秀学生赴国外大学和国内知名企业实习与交流合作。
	</p>
</p>



<br><font face="verdana" size="6" color= #309657>
	<strong>欢迎加入</strong>
	<a href="/posts/joinus/">详细内容</a>
</font>
<hr style="margin-top:-4px;height:1px;border:none;border-top:1px dotted #309657;" />
<p style="text-align:justify; text-justify:inter-ideograph">
	TJUNLP竭诚欢迎任何对自然语言处理有浓厚兴趣的优秀本科生、硕士生、博士生加入实验室！在TJUNLP实验室，你将有机会打造或展现：
	 <ul>
        <li>出色的代码能力</li>
	 	<li>扎实的数理基础</li>
        <li>丰富的自然语言处理与深度学习研究经验</li>
	 	<li>优秀的问题洞察、分析和解决能力</li>
	 </ul>
</p>




<br><font face="verdana" size="6" color= #309657><strong>联系方式</strong></font>	
<hr style="margin-top:-4px;height:1px;border:none;border-top:1px dotted #309657;" /><p>
	邮箱： <a href="multinlp@163.com">{{site.lab_email}}</a><br>
	地址： {{site.lab_address}}<br>
	邮编： {{site.lab_zipcode}}
</p>




<br />

