<footer class="footer">
	<ul class="footer-links">
		<li><a href="http://github.com/multinlp-tju"> <i
				class="fa fa-inverse fa-github fa-3x"></i></a></li>
		<li><a href="http://github.com/multinlp-tju"> <i
				class="fa fa-inverse fa-linkedin-square fa-3x"></i></a></li>
		<li><a href="http://github.com/multinlp-tju"> <i
				class="fa fa-inverse fa-twitter fa-3x"></i></a></li>
	</ul>
	电话： 86 + 00000000000<br>
	邮箱： <a href="multinlp@163.com">multinlp@163.com</a><br>
	Github：<a href="https://github.com/multinlp-tju">multinlp-tju</a><br>
	地址： 天津大学北洋园校区55教学楼B105<br>
	邮编： 300350
	<center>Copyright©2019 TJUNLP Lab</center>
</footer>
