<footer class="footer">
	<!-- github logo -->
	<ul class="footer-links">
		<li>
			<a href="http://github.com/multinlp-tju"> <i 
				class="fa fa-github fa-github fa-2x"></i>
			</a>
		</li>
	</ul>

	<!-- tianjin university loto -->
	<div class="col-md-4">
		<div class="thumbnail">
			<img
				src="footer.jpg" 
				class="img-responsive"
				height="50" width="50"
			/>
 		</div>
 	</div>


 	<!-- contact -->
	&emsp;&emsp;&emsp;&emsp; 电话： 86 + 00000000000<br>
	&emsp;&emsp;&emsp;&emsp; 邮箱： <a href="multinlp@163.com">multinlp@163.com</a><br>
	&emsp;&emsp;&emsp;&emsp; 地址： 天津大学北洋园校区55教学楼B115, 300350<br>
	<center>Copyright©2019 TJUNLP Lab</center>
</footer>
