<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- 左边的logo图标 -->
			<div class="navbar-header" style="float:right;">
				
				<button class="navbar-toggle collapsed"
					type="button"
					data-toggle="collapse"
					data-target="#navbar-collapse-menu">
					<span class="sr-only">Home左边的logo图标</span>
					<span class="icon-bar"></span>
				</button>
				<!-- logo链接设置模式 -->
				<!-- <a href="/_pages/postlist/">
					<img class="img-responsive"
						style="float:right;margin:4px 10px 0px 10px;"
						src="/logo1.png"
						width=11%
					/>
				</a> -->

				<!-- logo无链接设置模式 -->
				<!-- <img class="navbar-brand" src="/logoT.png" /> -->

			</div>


			<!-- 菜单栏 -->
			<div id="navbar-collapse-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">

					<!-- logo链接设置 -->
					<li style="margin-top:-15px;margin-bottom:1px; border:none;" >
						<a href="/" >
							<img
								class="navbar-header"
								src="/logoT.png"
								width=50
							>
						</a>
					</li>



					<!-- 其他子页面链接设置 -->
					{% for item in site.data.settings.menu %}

						<!-- | -->
						<li>
							<a>
								<font size="3" color=#bfcac3>|</font>
							</a>
						</li>

						
						<!-- get icon name -->
						{% assign icon_png = '/assets/images/' | append: item.name | append:'.png'  %}

						<!-- If has submenues -->
						{% if item.submenu %}
							<li class="dropdown">
								<a class="dropdown-toggle"	data-toggle="dropdown" href="#">
								<img class="navbar-header" src={{icon_png}}  width=26> 
									{{item.name}}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									{% for subitem in item.submenu %}
										<li>
											<a href="{{subitem.link}}">
												{% if subitem.icon %}
													<i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
												{% endif %}
												{{subitem.name}}
											</a>
										</li>
									{% endfor %}
									</ul>
							</li>
						{% else %}							
							<li>
								<a href="{{item.link}}">
									<img class="navbar-header" src={{icon_png}} width=26>{{item.name}}
								</a>
							</li>

						{% endif %}
					{% endfor %}

				</ul>
			</div>
			
		</div>
	</nav>



	<!-- TJULAB的插图-->
	{% if page.noimage %}
	{% else %}
	<img
		alt="{{ page.title }}"
		src="/assets/images/{{page.id}}/top.png" class="img-responsive">
	{% endif %}

	<!-- 被要求修改的绿色框框 -->
	<!-- <div class="jumbotron  clearfix">
		<h1 class="text-center">{{ page.title }}</h1> 
	</div> -->	

	<br>
</div>
